version: "3.9"
services:
  db:
    image: postgres
    container_name: db
    environment:
      - POSTGRES_PASSWORD=jenny
      - POSTGRES_USER=postgres
      - POSTGRES_DB=dish
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - ./db/shortcut/data:/var/lib/postgresql/data
#    ports:
#      - "5432:5432"
    restart: always
  job4j_dish:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - JDBC_URL=jdbc:postgresql://db:5432/dish
      - JDBC_USERNAME=postgres
      - JDBC_PASSWORD=jenny
      - JDBC_DRIVER=org.postgresql.Driver
    container_name: job4j_dish
#    ports:
#      - "127.0.0.1:8088:8088"
    depends_on:
      - db